In [81]:
import pandas as pd
from leetcode_scrape import getData

       Name                       Email   LeetCode_User Codeforces_User
0     Tanay  singhaniatanay18@gmail.com  singhaniatanay       something
1     Monil      bansalmonil7@gmail.com  sparshsirkijai        mrBansal
2  Sampriti         ysampriti@gmail.com       ysampriti     ysampriti69

In [102]:
df = pd.read_csv('./userDatabase.csv')
userLeetcode_Datas = []
for i in df['LeetCode_User']:
    userLeetcode_Datas.append(getData(i))

df_leetcode = pd.DataFrame(userLeetcode_Datas)
df_leetcode.to_csv('leetcode_usr_data.csv',index=False)

/Users/tanaysinghania/Documents/CODING/leetcode_leaderboard/leetcode_scrape.py:8: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 8 of the file /Users/tanaysinghania/Documents/CODING/leetcode_leaderboard/leetcode_scrape.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  soup = BeautifulSoup(html_doc)

In [1]:
from bs4 import BeautifulSoup
import requests

In [ ]:
def getData(handle):
    url = 'https://codeforces.com/api/user.rating?handle={}/'.format(handle)
    r = requests.get(url)
    html_doc = r.text
    soup = BeautifulSoup(html_doc)
    
    
    
    
    rows = soup.find_all('span','badge')
    ans = []
    c1 = eval(rows[0].text.strip())
    if c1==0:
        ans = rows[1:4]
    else:
        ans = rows[3:6]

    ans = [x.text.strip() for x in ans]

    dic = {'User' : userID,
        'Solved Questions' : int(ans[0][:ans[0].find('/')].strip()),
           'Total Questions' : int(ans[0][ans[0].find('/')+1:].strip()),
          'Accepted Submissions' : int(ans[1][:ans[1].find('/')].strip()),
           'Total Submissions' : int(ans[1][ans[1].find('/')+1:].strip()),
          'Acceptance Rate' : eval(ans[2][:ans[2].find('%')].strip())}
    
    return dic

In [47]:
userData = []
userDB = pd.read_csv('./userDatabase.csv')
for x in userDB['Codeforces_User']:    
    url = 'https://codeforces.com/api/user.rating?handle={}'.format(x)
    r = requests.get(url)
    json = r.json()
    userData += json['result']

df = pd.DataFrame(userData)
df = df.set_index(['handle'])
df.to_csv('codeforces_DB.csv')

In [45]:
df

,contestId,contestName,rank,ratingUpdateTimeSeconds,oldRating,newRating
handle,,,,,,
mrBansal,1141,Codeforces Round #547 (Div. 3),3485,1553013300,0,1430
mrBansal,1283,Codeforces Round #611 (Div. 3),564,1577559900,1430,1501
mrBansal,1270,Good Bye 2019,4301,1577639100,1501,1466
mrBansal,1287,Codeforces Round #612 (Div. 2),1779,1578240300,1466,1487
mrBansal,1291,Codeforces Round #616 (Div. 2),5284,1580661300,1487,1417
mrBansal,1296,Codeforces Round #617 (Div. 3),707,1580834100,1417,1508
mrBansal,1301,Codeforces Round #619 (Div. 2),1114,1581611700,1508,1591
mrBansal,1311,Codeforces Round #624 (Div. 3),1575,1582562100,1591,1566
mrBansal,1328,Codeforces Round #629 (Div. 3),260,1585240500,1566,1681
mrBansal,1341,"Codeforces Round #637 (Div. 2) - Thanks, Ivan ...",872,1587662100,1681,1747
mrBansal,1348,Codeforces Round #638 (Div. 2),3156,1588352700,1747,1724
tchala,1307,Codeforces Round #621 (Div. 1 + Div. 2),5738,1581961800,0,1405
tchala,1315,"Codeforces Round #623 (Div. 2, based on VK Cup...",399,1582482900,1405,1529
tchala,1325,Codeforces Round #628 (Div. 2),2534,1584203700,1529,1545
tchala,1332,Codeforces Round #630 (Div. 2),4500,1585670700,1545,1536
tchala,1330,"Codeforces Round #631 (Div. 2) - Thanks, Denis...",5389,1585931700,1536,1492
tchala,1333,Codeforces Round #632 (Div. 2),5100,1586363700,1492,1482
tchala,1334,Educational Codeforces Round 85 (Rated for Div...,2341,1586536500,1482,1553
tchala,1339,Codeforces Round #633 (Div. 2),1793,1586707500,1553,1594
tchala,1335,Codeforces Round #634 (Div. 3),813,1586795700,1594,1645
tchala,1337,Codeforces Round #635 (Div. 2),1207,1586970300,1645,1697
tchala,1371,Codeforces Round #654 (Div. 2),3439,1593617700,1697,1656

In [17]:
import pandas as pd

In [34]:
df.loc['mrBansal']

,contestId,contestName,rank,ratingUpdateTimeSeconds,oldRating,newRating
handle,,,,,,
mrBansal,1141,Codeforces Round #547 (Div. 3),3485,1553013300,0,1430
mrBansal,1283,Codeforces Round #611 (Div. 3),564,1577559900,1430,1501
mrBansal,1270,Good Bye 2019,4301,1577639100,1501,1466
mrBansal,1287,Codeforces Round #612 (Div. 2),1779,1578240300,1466,1487
mrBansal,1291,Codeforces Round #616 (Div. 2),5284,1580661300,1487,1417
mrBansal,1296,Codeforces Round #617 (Div. 3),707,1580834100,1417,1508
mrBansal,1301,Codeforces Round #619 (Div. 2),1114,1581611700,1508,1591
mrBansal,1311,Codeforces Round #624 (Div. 3),1575,1582562100,1591,1566
mrBansal,1328,Codeforces Round #629 (Div. 3),260,1585240500,1566,1681
mrBansal,1341,"Codeforces Round #637 (Div. 2) - Thanks, Ivan ...",872,1587662100,1681,1747
mrBansal,1348,Codeforces Round #638 (Div. 2),3156,1588352700,1747,1724